body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1b1b; 
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

#dave {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-40%);
  height: 95%;
  overflow: hidden;
}

#dave img {
  height: 100%;
  width: auto;
}

.button-group {
  margin: 20px 0;
}

button {
  background-color: #6d726d76; 
  color: white; 
  padding: 15px 30px;
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button.selected {
  background-color: #4CAF50; 
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25); 
}

.button-group:not(.restricted) button:hover, #passwordSection button:hover {
  background-color: #45a049; 
}

.restricted, .restricted button {
  cursor: not-allowed; 
  opacity: 0.6; 
}

@media (max-width: 600px) {
  button, #passwordInput {
      margin: 3px 5px;
  }
}

#passwordSection {
  margin-bottom: 20px;
  transition: max-height 0.5s ease-in-out;
  max-height: 400px;
}

#passwordSection.hidden {
  max-height: 0;
}

#passwordInput {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ddd;
  margin: 10px 5px;
}

#passwordInput.unauthorised {
  border-color: #f36969;
}

#passwordSection button {
  padding: 12px 20px;
}

#confettiWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.confetti {
  position: fixed;
  background-color: #f39200;
  width: 15px;
  height: 6px;
}

.confetti.red {
  background-color: #ff0038;
}
.confetti.blue {
  background-color: #30a7e2;
}
.confetti.yellow {
  background-color: #f4ea3b;
}
.confetti.green {
  background-color: #00c800;
}
.confetti.pink {
  background-color: #ff00ca;
}